body{
    margin:0; 
    height:100%;
    background :linear-gradient(to right,#0a68c6, #369aff,#67b3ff);
    background-size: 300%;
    background-position:center;
    height:100%;
    animation: bgAnim 5s alternate infinite;
}

#pageBg{
    height: 100%;
    
}

@keyframes bgAnim {
   0%{ background-position:left;}
   100%{background-position: right;}
    
}

.center_container{
    padding: 2rem 0;
}

.center_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo{
    max-width: 500px; margin: 0;
    font-size: 40px;
    font-family: Brandon Regular, sans-serif;
    color:white;
}

#socials{
    text-align: center;
}

.social{
    width:35px;
    vertical-align: middle;
    padding:6px;
    fill:white;
    transition: fill 0.3s;
        
}

a{
    text-decoration: none;
    font-family: Brandon Regular, sans-serif;
    
}

.social:hover, .social:focus{
    fill: lightgray;
    
}

#emaillink{
    text-decoration: none;
    color:white;
    transition: color 0.3s;
}

#emaillink:hover, #emaillink:focus{
    color:lightgray;
}

#mc_embed_signup{
    font-size: 30px;
}

.button{
    font-family: Brandon Regular, sans-serif; 
    background-color: white;
    border: none;
    color: black;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}

#mc-field-group{
    text-align: center;
}

.button:hover, .button:focus{
    background-color: lightgray;
}

#mc_embed_signup_scroll{
    text-align: center; color:white; padding:1rem;
}

#mc-field-group{
    text-align:center;
}

#mce-FNAME, #mce-EMAIL{
        margin-top: 1rem; width:20em; height:2rem; font-family: Brandon Regular, sans-serif; display:block; margin-left: auto; margin-right: auto;
}

#mce-EMAIL{
    margin-bottom: 1rem;
}

.faq-question{
    text-align: center;
    display: flex;
    flex-direction: column;
    width:33%;
    border: solid 2px white;
    margin-bottom: 1rem;
    
}

.faq-button{
    margin: 0.6rem;
    cursor: pointer;
}

.faq-content{
    margin: 0 auto;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    padding: 0 1rem;
}

.faq-button:after{
    content: " +";
}

.active:after{
    content:" -";
}

hr{
    width:25%;
    border: 1px solid white;
}

h1{
    margin-bottom:0.6rem;
}

@media (max-width: 1024px) {
    .faq-question{
        width:50%;
    }
  }

@media (max-width: 768px) {
    .faq-question{
        width:75%;
    }
  }
  