body{
    margin:0; 
    height:100%;
}

#pageBg{
    background-color :#369aff;
    background-size: 300%;
    background-position:center;
    height:100%;
}

.center_container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.center_inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    max-width: 500px; margin: 0; margin-bottom: 1em;
    font-size: 40px;
    font-family: Brandon Regular, sans-serif;
    color:white;
}

#socials{
    text-align: center;
}

.social{
    width:35px;
    vertical-align: middle;
    padding:6px;
    fill:white;
    transition: fill 0.3s;
        
}

a{
    text-decoration: none;
    font-family: Brandon Regular, sans-serif;
    
}

.social:hover, .social:focus{
    fill: lightgray;
    
}

#emaillink{
    text-decoration: none;
    color:white;
    transition: color 0.3s;
}

#emaillink:hover, #emaillink:focus{
    color:lightgray;
}

#mc_embed_signup{
    font-size: 30px;
}

#mc-embedded-subscribe{
    font-family: Brandon Regular, sans-serif; 
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}

#mc-field-group{
    text-align: center;
}

#mc-embedded-subscribe:hover, #mc-embedded-subscribe:focus{
    background-color: lightgray;
}

#mc_embed_signup_scroll{
    text-align: center; color:white; padding:1vw;
}

#mc-field-group{
    text-align:center;
}

#mce-FNAME, #mce-EMAIL{
        margin-top: 1vw; width:20em  ; height:2em; font-family: Brandon Regular, sans-serif; display:flex;
}

#mce-EMAIL{
    margin-bottom: 1vw;
}